<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to "Fiscales", { :controller => :fiscals, :action => :index } %> <br>
<%= link_to "De Interés", { :controller => :interests, :action => :index } %>
